.flex-container {
  display: flex;
  background-color: #000000;
}
/*
This part of the CSS code is meant to deal exclusively with the flexbox holding my navigational bar.
*/
.flex-container > div {

}

div.name {
font-family: 'Lalezar', cursive;
color: #ffffff;
font-size: 30px;
}


body {
background-color: #ffffff;
}
